<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="characters" value="✓,✗,:),±,∫,∴,∑,♂,☠,☢,♔,♕,♖,♗,♘,♙,△,†,‡" />
    <add key="width" value="331" />
    <add key="height" value="301" />
    <add key="FormBackColor" value ="255,0,0,0" />
    <add key="AddButtonBackColor" value ="255,0,0,0" />
    <add key="AddButtonForeColor" value ="255,255,255,255" />
    <add key="AddButtonHoverColor" value ="255,60,60,60" />
    <add key="AddButtonClickColor" value ="255,80,80,80" />
    <add key="DeleteButtonBackColor" value ="255,0,0,0" />
    <add key="DeleteButtonForeColor" value ="255,255,255,255" />
    <add key="DeleteButtonHoverColor" value ="255,0,0,0" />
    <add key="DeleteButtonClickColor" value ="255,0,0,0" />
    <add key="ResizerForeColor" value ="255,255,255,255" />
    <add key="MinimiseButtonBackColor" value ="255,0,0,0" />
    <add key="MinimiseButtonForeColor" value ="255,255,255,255" />
    <add key="MinimiseButtonHoverColor" value ="255,0,0,0" />
    <add key="MinimiseButtonClickColor" value ="255,0,0,0" />
    <add key="CloseButtonBackColor" value ="255,0,0,0" />
    <add key="CloseButtonForeColor" value ="255,255,255,255" />
    <add key="CloseButtonHoverColor" value ="255,192,0,0" />
    <add key="CloseButtonClickColor" value ="255,255,0,0" />
    <add key="ButtonBackColor" value ="255,30,30,30" />
    <add key="ButtonForeColor" value ="255,255,255,255" />
    <add key="ButtonHoverColor" value ="255,60,60,60" />
    <add key="ButtonClickColor" value ="255,80,80,80" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>