<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="characters" value="✓,✗,:)" />
    <add key="width" value="177" />
    <add key="height" value="232" />
  </appSettings>
</configuration>